.navigation{
    display: flex;
    background-color: #000;
    color: #fff;
    justify-content: end;
    padding: 20px;
    margin: 0;
}

.navigation >li{
    list-style: none;
    font-weight: 900;
    font-size: 1.3rem;
    margin-right:30px ;
}
.jumbotron{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-image: url('/imgs/jumbtron.jpg');
    background-position: center;
}

.jumbotron h1{
    color: #fff;
    font-weight: 900;
    font-size: 4rem;
}

.jumbotron .btn-main{
    background-color: #ffa95e;
    color: #fff ;
    padding: 15px;
    font-weight: 900;
    text-decoration: none;
    display: table;
    margin: 0 auto;
}
.heading{
    width: 100%;
}
.services{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
